<!doctype html>
<html>
<head>
<title>table no. 21</title>
<style>
table,th,td{ border : 1px solid grey;
                font-size : 120%;  background-color:green;}
body{background-color:red; color:white;}
</style>

</head>
<body>

<h1> Hello Folks..! this response is from Template file </h1>

<table>
<tr>
  <th> Ser. No. </th>
  <th> Asia </th>
  <th> North America </th>
  <th> Europe </th>
</tr>
<tr>
  <td> 01 </td>
  <td> India </td>
  <td> USA </td>
  <td> France </td>
</tr>
<tr>
  <td> 02 </td>
  <td> China </td>
  <td> Canada </td>
  <td> Germany </td>
</tr>
<tr>
  <td> 03 </td>
  <td> Pakistan </td>
  <td> Mexico </td>
  <td> England </td>
</tr>
</table>
</body>
</html>
