<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>display dictionary values</title>
  <style media="screen">
    li {color: green}
  </style>
  </head>
  <body>
    <h3>here we're displaying dictionary values which are defined in the dictionary inside of the view function in views.py file</h3>
    <h2>servers current date & time is : {{date}}</h2>
    <ol>
      <li>Naam : {{name}}</li>
      <li>Paisaa : {{worth}}</li>
      <li>Age : {{age}}</li>
    </ol>
  </body>
</html>
