<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">

</head>
<body>

<div class="container" align="center">
<div class="jumbotron">
<h1>My Movies</h1>
<p>up to date movies info.</p>
<a class="btn btn-primary btn-lg" href="/addmovie" roll="button">Add Movie</a> &nbsp&nbsp&nbsp
<a class="btn btn-primary btn-lg" href="/listmovies" roll="button">List Movie</a>


</div>
</div>

</body>
</html>