<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jai Ganesh</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/static1.css' %}">
  </head>
  <body>
    <h1>{{message}}</h1>
    <h2>{{date}}</h2> <hr>
    <img src="{%static 'images/ganesh06.jpg' %}" >
    <img src="{%static 'images/ganesh06.jpg' %}" >
    <img src="{%static 'images/ganesh06.jpg' %}" >
    <img src="{%static 'images/ganesh06.jpg' %}" >
    <img src="{%static 'images/ganesh06.jpg' %}" >
    <img src="{%static 'images/ganesh06.jpg' %}" >
    <img src="{%static 'images/ganesh06.jpg' %}" >
    <img src="{%static 'images/ganesh06.jpg' %}" >
    <img src="{%static 'images/ganesh06.jpg' %}" >

  </body>
</html>
